@{
    ViewData["Title"] = "Home Page";
}

    @*<script>
        var app = angular.module("myApp", []);
        app.controller("EmployeeCtrl", function ($scope) {
            $scope.Message = "Hello";
        });
    </script>*@

    <div ng-app="myapp" ng-controller="EmployeeCtrl">
        
        <p> {{ Message }}</p>
    </div>